@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Kode+Mono:wght@400..700&display=swap');
@import "tailwindcss";


:root {
  --green-acc-light: 168, 207, 157;
  --green-acc-medium: 95, 136, 96;
  --green-acc-dark: 73, 106, 74;
  --green-acc-darker: 55, 78, 56;

  --yellow-acc-light: 240, 190, 50;

  --white: 255, 255, 255;
  --black: 0, 0, 0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}



@keyframes pulse-glow {
    0%, 100% {
        text-shadow: 
            0 0 8px rgba(var(--green-acc-light), 0.6),
            0 0 20px rgba(var(--green-acc-light), 0.3);
    }
    50% {
        text-shadow: 
            0 0 15px rgba(var(--green-acc-light), 0.9),
            0 0 40px rgba(var(--green-acc-light), 0.5),
            0 0 60px rgba(var(--green-acc-light), 0.2);
    }
}

@keyframes pulse-glow-border {
    0%, 100% {
        border-color: rgba(var(--green-acc-medium), 0.15);
    }
    50% {
        border-color: rgba(var(--green-acc-medium), 0.3);
    }
}

@keyframes pulse-glow-yellow {
    0%, 100% {
        text-shadow: 
            0 0 8px rgba(var(--yellow-acc-light), 0.6),
            0 0 20px rgba(var(--yellow-acc-light), 0.3);
    }
    50% {
        text-shadow: 
            0 0 15px rgba(var(--yellow-acc-light), 0.9),
            0 0 40px rgba(var(--yellow-acc-light), 0.5),
            0 0 60px rgba(var(--yellow-acc-light), 0.2);
    }
}

@keyframes pulse-glow-nav {
    0%, 100% {
        text-shadow: 
            0 0 15px rgba(var(--green-acc-light), 1),
            0 0 30px rgba(var(--green-acc-light), 0.8),
            0 0 60px rgba(var(--green-acc-light), 0.5),
            0 0 70px rgba(var(--green-acc-light), 0.2);
        transform: skewX(-10deg);
        
    }
    50% {
        text-shadow: 
            0 0 25px rgba(var(--green-acc-light), 1),
            0 0 50px rgba(var(--green-acc-light), 0.9),
            0 0 80px rgba(var(--green-acc-light), 0.7),
            0 0 120px rgba(var(--green-acc-light), 0.5),
            0 0 160px rgba(var(--green-acc-light), 0.3);
    }
}


@keyframes pulse-glow-scroll {
    0%, 100% {
        box-shadow: 
            0 0 10px rgba(var(--green-acc-light), 0.6),
            0 0 20px rgba(var(--green-acc-medium), 0.3),
            0 0 30px rgba(var(--green-acc-dark), 0.1);
        /* transform: translate(-50%, -50%) rotate(45deg) scale(1); */
    }
    50% {
        box-shadow: 
            0 0 20px rgba(var(--green-acc-light), 1),
            0 0 40px rgba(var(--green-acc-medium), 0.6),
            0 0 60px rgba(var(--green-acc-dark), 0.3),
            0 0 80px rgba(var(--green-acc-dark), 0.1);
        /* transform: translate(-50%, -50%) rotate(45deg) scale(1.1); */
    }
}
