@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg_1: #091833;
  --bg_2: #133e7c;
  --bg_3: #711c91;

  --acc_1: #ea00d9;
  --acc_2: #0abdc6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  height: 100vh;
}

body > :first-child {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
