/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Major+Mono+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg_1: #091833;
  --bg_1_rgb: 9, 24, 51;

  --bg_2: #133e7c;
  --bg_2_rgb: 19, 62, 124;

  --bg_4: #0a1427;
  --bg_4_rgb: 10, 20, 39;

  --bg_3: #711c91;
  --bg_3_rgb: 113, 28, 145;

  --acc_1: #ea00d9;
  --acc_2: #0abdc6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Sacramento", sans-serif;
  position: relative;
  height: 100vh;
  background: var(--bg_1);
}

