.header {
    display: flex;
    position: fixed; /* Change from relative to fixed */
    top: 0; /* Add this */
    left: 0; /* Add this */
    right: 0; /* Add this */
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: rgba(12, 12, 12, 0.3);
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(10px); */
    padding: 0 1rem;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    pointer-events: none;
    z-index: -1;
}

.header-left {
    font-size: large;
    font-weight: bold;

}

.header-right {
    display: inline-flex;
    font-size: large;
    font-weight: bold;
    gap: 1rem;
    
}

.header-left a,
.header-right a {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.header-left a:hover,
.header-right a:hover {
    transform: scale(0.95);
}


.neonText {
    font-family: 'Syncopate', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    position: relative;
    z-index: 1;
    font-size: 1.2rem;
    animation: pulsate 1.5s infinite alternate;  
    padding: 0.5em 1em;
}

.neonText:hover {
    animation: flicker 2s infinite alternate;
    border-radius: 10px;
    border: #fff 1px solid;
}


@keyframes pulsate {
    
  100% {
        text-shadow:
        0 0 0.25rem #fff,
        0 0 0.6875rem #fff,
        0 0 1.1875rem #fff,
        0 0 2.5rem var(--acc_1),
        0 0 5rem var(--acc_1),
        0 0 5.625rem var(--acc_1),
        0 0 6.25rem var(--acc_1),
        0 0 9.375rem var(--acc_1);
    
    }
  
  0% {
        text-shadow:
        0 0 0.125rem #fff,
        0 0 0.25rem #fff,
        0 0 0.375rem #fff,
        0 0 0.625rem var(--acc_1),
        0 0 2.8125rem var(--acc_1),
        0 0 3.4375rem var(--acc_1),
        0 0 4.375rem var(--acc_1),
        0 0 5rem var(--acc_1);

    }
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

    text-shadow:
    0 0 0.25rem #fff,
    0 0 0.6875rem #fff,
    0 0 1.1875rem #fff,
    0 0 2.5rem var(--acc_1),
    0 0 5rem var(--acc_1),
    0 0 5.625rem var(--acc_1),
    0 0 6.25rem var(--acc_1),
    0 0 9.375rem var(--acc_1);

    box-shadow: 
    0 0 0.2rem #fff,
    0 0 0.2rem #fff,
    0 0 2rem var(--acc_1),
    0 0 0.8rem var(--acc_1),
    0 0 2.8rem var(--acc_1),
    inset 0 0 1.3rem var(--acc_1); 

  }
  
  20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
  }    
}
