.content-wrapper {
    margin-left: 50vw;
    width: 50vw;
    min-height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.1); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
}

.hills {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 55vh;
    z-index: 1;
    pointer-events: none;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.hills-svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.sun{
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    z-index: -1;
    /* background-color: rgba(255, 223, 0, 0.3); */
    align-items: center;
    justify-content: center;
    display: flex;
    pointer-events: none;
}

.header {
    display: flex;
    flex-direction: column; 
    position: fixed;
    top: 5%; 
    left: 0;
    align-items: flex-start;
    gap: 3rem; 
    z-index: 10;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.15;
    pointer-events: none;
    z-index: -1;
}

.header-left {
    font-size: larger;
    font-weight: bold;
    padding: 0 0 0 1rem;

}

.header-right {
    display: flex;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    gap: 1rem;
    padding: 0 0 0 1rem;
    
}

.header-left a,
.header-right a {
    text-decoration: none;
}

.header-left a:hover,
.header-right a:hover {
    transform: scale(0.95);
}

.navText {
    color: black;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}