
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: gray;
  color: black;
}

.header-right {
    display: inline-flex;
    gap: 1rem;
}